{% extends 'base.html' %}
{% load static %}

{% block title_here %}
<title>IOT Platform | GPTI</title>
{% endblock title_here %}

{% block main_content %}
<div class="section">
  <div class="container">
    <div class="row">
      <h3 class="blue-text text-darken-4 center" style="font-family:sans-serif!important ;">"IOT Platform"</h3>
    </div>
    <p>About your project</p>
  </div>
</div>
<div class="divider"></div>

  <div class="section white">
    <div class="container">
  
      <div class="row">
        <div class="col s12 l12 center">
          <h4 style="margin-top: 0;margin-bottom: 0;">GPT IMMADIHALLI</h4>
          <p style="margin-top: 0;margin-bottom: 0;">Immadihalli, Whitefield, Bangalore-560066</p>
          <h3 class="center">Department of Computer Science & Engineering</h3>

        </div>
  
      </div>
  
    </div>
  </div>

  <div class="section ">
  <div class="container">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 l12">
        <h4 style="font-family: 'Akronim' ;">Project By:</h4>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <img src="{% static 'images/a.JPG' %}" class="responsive-img circle z-depth-3" alt="">
          <h5 style="font-family: monospace;" class="center">name1</h5>
          <h5 class="center">regno</h5>
          <br>
          <br>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <img src="{% static 'images/b.JPG' %}" class="responsive-img z-depth-3 circle" alt="">
          <h5 style="font-family: monospace;" class="center">name2</h5>
          <h5 class="center">regno</h5>
          <br>
          <br>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <img src="{% static 'images/c.JPG' %}" class="responsive-img z-depth-3 circle" alt="">
          <h5 style="font-family: monospace;" class="center">name3</h5>
          <h5 class="center">regno</h5>
          <br>
          <br>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <img src="{% static 'images/d.JPG' %}" class="responsive-img circle z-depth-3" alt="">
          <h5 style="font-family: monospace;" class="center">name4</h5>
          <h5 class="center">regno</h5>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="section">
  <div class="container">

    <div class="row">
      <div class="col s12 l12">
        <h4 style="font-family: 'Akronim' ;">Guided By:</h4>
      </div>
      <div class="col s12 m6">
        <div class="icon-block center">
          <img src="{% static 'images/guide.jpeg' %}" class="responsive-img circle z-depth-3" alt="">
          <h5 class="center" style="margin-top: 0;margin-bottom: 0;font-family: monospace;">Guide Name</h5>
          <h6 class="center" style="margin-top: 0;margin-bottom: 0;">Guide</h6>
          <h6 class="center" style="margin-top: 0;margin-bottom: 0;">Lecturer, Dept OF CSE</h6>
          <h6 class="center" style="margin-top: 0;margin-bottom: 0;">GPTI Polytechnic</h6>
          <br>
          <br>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block center">
          <img src="{% static 'images/hod.png' %}" class="responsive-img circle z-depth-3" alt="">
          <h5 class="center" style="margin-top: 0;margin-bottom: 0;font-family: monospace;">HOD name</h5>
          <h6 class="center" style="margin-top: 0;margin-bottom: 0;">Head of Department</h6>
          <h6 class="center" style="margin-top: 0;margin-bottom: 0;">Dept OF CSE</h6>
          <h6 class="center" style="margin-top: 0;margin-bottom: 0;">GPTI Polytechnic</h6>
        </div>
      </div>


    </div>

  </div>
</div>




{% endblock main_content %}