{% extends "base.html" %}
{% load static %}

{% block page_title %}
<title>
    Reset Your Password | IOT Platform</title>

{% endblock page_title %}

{% block main_content %}


<div class=" section">
    <div class="container">
        <div class="row">
            <div class="col s12 m7 l7" style="border-radius: 3rem;padding: 5%!important;">
                <h1 class="center" style="margin-top: 1rem!important;">
                    Reset your Password
                </h1>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <label class="black-text" for="id_email">Email</label> 
                        <input type="email" name="email" autocomplete="email" autofocus class="validate" maxlength="254" required
                        id="id_email">
                    </div>
                    <button class="btn amber darken-2 waves-effect waves-light right" type="submit" name="action"><b>
                            Reset</b></button>
                </form>
                <br>
                <br>
                <br>

            </div>


        </div>
    </div>
</div>

{% endblock main_content %}