{% extends 'base.html' %}
{% load static %}

{% block page_title %}
<title>
    Password Change | IOT Platform</title>

{% endblock page_title %}


{% block main_content %}

<div class=" section">
    <div class="container">
        <div class="row">
            <div class="col s12 l10 offset-l1 z-depth-1"
                style="border-radius: 3rem;padding: 5%!important;background-color: #ffffff69;">
                <h1 class="center " style="margin-top: 1rem!important;">
                    Change Password
                </h1>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    {{ field.errors }}
                    {% endfor %}
                    <div class="input-field">
                        <i class="material-icons prefix">vpn_key</i>
                        <label class="black-text" for="id_old_password">Old password</label>
                        <input class="validate" type="password" name="old_password" autocomplete="current-password" autofocus required
                        id="id_old_password">
                    </div>
                    <div class="input-field">
                        <!-- <i class="material-icons prefix">email</i> -->
                        <label class="black-text" for="id_new_password1">New password</label>
                        <input class="validate" type="password" name="new_password1" autocomplete="new-password" required
                        id="id_new_password1">
                    </div>
                    
                    <div class="input-field">
                        <!-- <i class="material-icons prefix">email</i> -->
                        <label class="black-text" for="id_new_password2">New password confirmation</label>
                        <input class="validate" type="password" name="new_password2" autocomplete="new-password" required
                        id="id_new_password2">
                    </div>
                    <button class="btn amber darken-2 waves-effect waves-light right" type="submit" name="action">
                        <b>
                            Change</b></button>
                </form>
                <br>
                <br>


            </div>

        </div>
    </div>
</div>


{% endblock main_content %}