{% extends "base.html" %}

{% block page_title %}
<title>
   Password Reset | IOT Platform</title>

{% endblock page_title %}

{% block main_content %}
<section class="flat-contact">
   <div class="container">
      <div class="row">
         <div class="col-lg-2">
         </div>
         <div class="col-lg-8 col-md-12">
            <div class="form-contact center">
               <div class="form-contact-header">
                  <h3>Reset Your Password</h3>
                  <p>
                     -----
                  </p>
               </div><!-- /.form-registration-header -->
               <div class="form-contact-content">
                  <form method="post">
                     {% csrf_token %}
                     {{form.as_p}}
                     <br>
                     <button class="btn btn-primary right">Change</button>
                  </form>
               </div><!-- /.form-contact-content -->
            </div><!-- /.form-contact center -->
         </div><!-- /.col-lg-8 col-md-12 -->
         <div class="col-lg-2">
         </div>
      </div><!-- /.row -->
   </div><!-- /.container -->
</section><!-- /.flat-contact -->
{% endblock main_content %}